@font-face {
    font-family: "Proxima";
    src: url("../../public/fonts/ProximaNova_Bold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Proxima";
    src: url("../../public/fonts/ProximaNova_Semibold.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Proxima";
    src: url("../../public/fonts/ProximaNova_Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Proxima";
    src: url("../../public/fonts/ProximaNova_Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
